*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-main-body: rgb(5, 5, 5);
    --dark-main-nav: rgb(211, 210, 210);
    --dark-main-fondCard: rgb(53, 53, 53);
    --dark-main-textMain: rgb(241, 241, 241);
    --main-body: white;
    --main-nav: rgb(65, 65, 65);
    --main-fondCard: rgb(31, 31, 31);
    --main-textMain:  honeydew;
    --main-textMain2: : rgb(65, 65, 65);
    --main-rouge: #FE142F;
    --main-noir: #000;
    --body-back: white;
}

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
 background-color: var(--body-back);

}

header{
    display: flex; 
    /* background-color: #B215; */
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 10vh;
    margin-top: 20px;
}

nav>a{
    margin: auto 10px;
    text-decoration: none;
    color: var(--main-textMain2) ;
    font-size: large;
    padding: 10px 20px;  /* ne pas mettre dans hover */
   
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    
}

section{
    position: relative;
    background-color: var(--dark-main-fondCard);
    width: 70vw;
    height: 70vh; 
}

.fond{
    background-image: url(../img/AdobeStock_335161323_1_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 45vw;
    height: 70vh; 
    position: absolute;
    top: 0;
    right: 0;
    
}

.contenu{
    color: var(--main-textMain);
    position: absolute;
    margin: 30px 20px;
}

h2{
    font-size: 5rem;
    margin: 10px 0;
    
}

p{
    font-size: 1.6rem;
    margin: 50px 0;
}

.button{
    margin: 10px 0;
    background: var(--main-rouge) ;
    width: 30%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: var(--main-textMain);
    font-weight: bolder;
}

.button:hover{
    cursor: pointer;
}

nav>a:hover{
  background-color:var(--main-rouge) ;
 
  border-radius: 5px;
  color: var(--main-textMain);
}

.switch{
    position: relative;
    margin: auto;
    width: 65px;
    height: 34px;
    border: black solid 2px;
    border-radius: 50px;
    background-color: var(--main-noir);
}

.switch::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: whitesmoke;  
}

body.dark{
   --body-back: #454545;

}

body.dark .switch::before{
    left: auto;
    right: 5px;
}

body.dark nav{
    color: honeydew;
}